body {
    font-family: 'Times New Roman', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 15px;
}
/* Стилі для шапки */
.header {
    background-color: #000000;
    padding: 30px;
    position: relative;
}
.logo {
    max-width: 150px;
    position: absolute;
    top: 100%;
    left: 20px;
    transform: translateY(-50%);
    z-index: 2;
}
.menu {
    background-color: #000000;
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 1;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu ul li {
    display: inline-block;
    margin-right: 10px;
}
.menu ul li a {
    color: #f3f1f1;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 20px;
}
.menu ul li a:hover {
    background-color: #e4dbdb;
}
.footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer {
    margin-top: 20px;
}
/* Стилі для вмісту */
.content {
    max-width: 600px;
    margin: 0 auto;
    padding: 40;
    border: 3px solid #555;
    border-radius: 20px;
}
.content h2 {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.content p {
    color: #ff0000;
    font-style: italic;
    margin-bottom: 10;
}
.content ul {
    list-style-type: disc;
    margin-left: 0px;
}
.content ul li {
    color: #ff0a0a;
    margin-bottom: 10px;
}
.director {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-right: 500px; /* Adjust the margin value as needed */
  }
  
  .director-photo {
    margin-top: 20px;
    margin-right: 100px; /* Adjust the margin value as needed */
  }